
main.Formulario-crearUsuario {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .menu-superior{
    text-size-adjust:center ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.nav-link{
    font-size: 20px;
}
  /*indexV.html*/
  .navbar-brand img {
    /*1rem = 16px*/
    height: 5rem;
    width: auto;
  }

  /*boton ingresar*/
#boton-ingresar{
    border: none;
    background-color: transparent;
    width: 3rem;
    font-size: 40px;
}


#navbar {
    
  background-color: #86868628;
  border-radius: 2%;
      
  
}