
#navbar {
    
    background-color: #86868628;
    border-radius: 2%;
        
    
}

.slide {

    margin-top: 50px;
}

.button {

  margin-left: 50px;
   
}

#titulo {

    padding-left: 250px;
}

#marca {
    
}

/* boton externo*/
.btn-IniciarSesion-index .btn span {
    display: flex;
    align-items: center;
}
 /*Imagen*/     
.btn-IniciarSesion-index .btn ion-icon {
    font-size: 1.7rem;
    margin-left: 0.5rem;
}

main.Formulario-crearUsuario {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }