
.navbar-nav {        
    
    margin-left: auto;
    
}

.navbar-brand {

    border-radius: 10%;
}

.text {

    height: 40 px;
}

.container-fluid {
    
    padding: 10 px;
    background-color: #eeededa8;
    
    
}

.slide {

    margin-top: 50px;
}

.button {

  margin-left: 50px;
   
}


