
#navbar {
    
    background-color: #86868628;
    border-radius: 2%;
        
    
}

.slide {

    margin-top: 50px;
}

.button {

  margin-left: 50px;
   
}

#titulo {

    padding-left: 250px;
}

#botoninicio {
    
        
    }